.card{
  width: 200px;
  height: 250px;
  overflow: hidden;
  /* border: 1px solid #FF8B13; */
  padding: 10px;
  margin: 10px;
  outline: none;
  color: #FF8B13;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.card>*{
  border-radius: 10px;
  margin: 0;
}

.card>p{
  margin-top: 0.5rem;
  font-size: 0.8rem;
  overflow: hidden;
  max-width: 60ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card:hover {
   transform: scale(1.05);
   transition: all 0.5s;
}

.card > img {
  width: 100%;
  /* object-position: center; */
}

.fa{
  font-size: 11px;
}

